﻿@model IEnumerable<AcerCms.Dal.Enities.Picture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Resim Listesi</h3>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>IsSlider</th>
                        <th>IsDeleted</th>
                        <th>Detay</th>
                    </tr>
                    @if (Model.Any())
                    {
                        foreach (var picture in Model)
                        {
                            <tr>
                                <td>@picture.Id</td>
                                <td>@picture.Title</td>
                                <td>@picture.Description</td>
                                <td>
                                    @if (picture.IsSlider)
                                    {
                                        <span class="label label-success">Evet</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">Hayır</span>
                                    }
                                </td>
                                <td>
                                    @if (picture.IsDeleted)
                                    {
                                        <span class="label label-warning">Evet</span>
                                    }
                                    else
                                    {
                                        <span class="label label-success">Hayır</span>
                                    }
                                </td>
                                <td><a href="~/Admin/Resim/ResimDetay/@picture.Id">Detay</a></td>
                            </tr>
                        }
                    }
                </table>



            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

