﻿@model AcerCms.Dal.Enities.Picture

@{
    ViewBag.Title = "ResimDetay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni Haber</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Başlık</label>
                            <br />
                            @Model.Title
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Açıklama</label>
                            <br />
                            @Model.Description
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Slider Mı ?</label>
                            @if (Model.IsSlider)
                            { <label for="exampleInputEmail1">Evet</label> }
                            else
                            { <label for="exampleInputEmail1">Hayır</label> }
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Silinmiş Mi ?</label>
                            @if (Model.IsDeleted)
                            { <label for="exampleInputEmail1">Evet</label> }
                            else
                            { <label for="exampleInputEmail1">Hayır</label> }
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Resim</label>
                            <br />
                            <img src="@Model.Path@Model.FileName" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
